body {
    font-family: 'Poppins', sans-serif;
} 

.centered-image {
    display: block;
    margin: auto;
}

.first-section {
    background-image: url(../images/fondo1.jpg);
    height: 1330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -320px;
}

.navbar {
    margin-top: 65px;
    width: 100%;
}

.text-and-video {
    margin-top: 70px;
}

.big-text {
    width: 656px; padding-left: 15px;
    color: white;
}

.first-section h1 {
    color: #db1e22;
    font-size: 75px;
}

.first-section h2 {
    font-size: 40px;
}

.first-section h3 {
    font-size:20px;
}

.second-section {
    color: white;
}

.second-section .text-and-photo {
    margin-top: 50px
}

.second-section .solution-text {
    margin-top: 50px;
    margin-left: -25px;
}

.second-section .solution-text h4 {
    font-size: 28px;
}

.second-section .solution-text ul {
    padding-left: 20px;
}

.second-section .solution-text li {
    margin-top: 30px;
    font-size: 16px;
}

.second-section .full-text {
    padding-left: 100px;
    padding-right: 130px;
}

.second-section .full-text h4 {
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.second-section .full-text ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.second-section .full-text li {
    font-size: 16px;
}

.third-section .row {
    height: 300px;
}

.third-section .left-container {
    overflow: auto;
    width: 473px;
    float: right;
    margin-right: -15px;
    margin-top: 56px;
    padding-top: 40px;
    border-top: 1px solid white;
}

.third-section .right-container {
    overflow: auto;
    width: 500px;
    float: left;
    margin-left: -15px;
    margin-top: 56px;
    padding-top: 40px;
    border-top: 1px solid black;
    padding-left: 40px;
}

.third-section .logo {
    float: left;
    margin-top: -20px;
}

.third-section .left-container .text {
    float: right;
    width: 230px;
}

.third-section .left-container .text h4 {
    font-size: 35px;
}

.third-section .right-container .text {
    float: left;
}

.third-section .left-container .text h4 {
    font-size: 30px;
}

.third-section .right-container .text .high {
    font-size: 40px;
    color: #db1e22;
}




.background-second-section1 {
    background-image: url(../images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-second-section2 {
    background-image: url(../images/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-photo1 {
    background-image: url(../images/foto2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.background-photo2 {
    background-image: url(../images/foto3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


.background-third-left {
    background-color: #ba1c18;
    color: white;
}

.fourth-section {
    background-color: #292b30;
    color: white;
}

.fourth-section .box {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section .box .border-top {
    border-top: 1px solid white;
}

.fourth-section .box .border-top>div {
    padding-top: 40px;
}

.fourth-section .box h3 {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.fourth-section .box span.high {
    color: #ba1c18 !important;
}

.fourth-section .box .vertical-border-top {
    border-right: 1px solid white;
    margin-top: 100px;
}

.fourth-section .box .vertical-border-bottom {
    border-right: 1px solid white;
    margin-bottom: 100px;
}

.carousel {
    background-image: url(../images/fondo2.jpg);
    color: white;
}

.carousel-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-container h4 {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.carousel-container .high {
    color:#ba1c18;
}

.separator-carousel {
    height: 1px;
    width: 100%;
    background-color: white;
}
.item {
    text-align: left;
}

.item .desc {
    margin-left: 75px;
}

.item img {
    display: block;
    margin: auto;
    height: 200px;
}

.footer {
    background-color: #ba1c18;
    color: white;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: white;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    
}