body {
    font-family: 'Poppins', sans-serif;
} 

.centered-image {
    display: block;
    margin: auto;
}

.first-section {
    background-image: url(../images/fondo1.jpg);
    height: 1330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -320px;
}

.navbar {
    margin-top: 65px;
    width: 100%;
}

.text-and-video {
    margin-top: 70px;
}

.big-text {
    width: 656px; padding-left: 15px;
    color: white;
}

.first-section h1 {
    color: #db1e22;
    font-size: 75px;
}

.first-section h2 {
    font-size: 40px;
}

.first-section h3 {
    font-size:20px;
}

.second-section {
    color: white;
}

.second-section .text-and-photo {
    margin-top: 50px
}

.second-section .solution-text {
    margin-top: 50px;
    margin-left: -25px;
}

.second-section .solution-text h4 {
    font-size: 28px;
}

.second-section .solution-text ul {
    padding-left: 20px;
}

.second-section .solution-text li {
    margin-top: 30px;
    font-size: 16px;
}

.second-section .full-text {
    padding-left: 100px;
    padding-right: 130px;
}

.second-section .full-text h4 {
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.second-section .full-text ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.second-section .full-text li {
    font-size: 16px;
}

.third-section .row {
    height: 300px;
}

.third-section .left-container {
    overflow: auto;
    width: 473px;
    float: right;
    margin-right: -15px;
    margin-top: 56px;
    padding-top: 40px;
    border-top: 1px solid white;
}

.third-section .right-container {
    overflow: auto;
    width: 500px;
    float: left;
    margin-left: -15px;
    margin-top: 56px;
    padding-top: 40px;
    border-top: 1px solid black;
    padding-left: 40px;
}

.third-section .logo {
    float: left;
    margin-top: -20px;
}

.third-section .left-container .text {
    float: right;
    width: 230px;
}

.third-section .left-container .text h4 {
    font-size: 35px;
}

.third-section .right-container .text {
    float: left;
}

.third-section .left-container .text h4 {
    font-size: 30px;
}

.third-section .right-container .text .high {
    font-size: 40px;
    color: #db1e22;
}




.background-second-section1 {
    background-image: url(../images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-second-section2 {
    background-image: url(../images/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-photo1 {
    background-image: url(../images/foto2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.background-photo2 {
    background-image: url(../images/foto3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


.background-third-left {
    background-color: #ba1c18;
    color: white;
}

.fourth-section {
    background-color: #292b30;
    color: white;
}

.fourth-section .box {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section .box .border-top {
    border-top: 1px solid white;
}

.fourth-section .box .border-top>div {
    padding-top: 50px;
}

.fourth-section .box h3 {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.fourth-section .box span.high {
    color: #ba1c18 !important;
}

.fourth-section .box .vertical-border-top {
    border-right: 1px solid white;
    margin-top: 90px;
}

.fourth-section .box .vertical-border-bottom {
    border-right: 1px solid white;
    margin-bottom: 90px;
}

.carousel {
    background-image: url(../images/fondo2.jpg);
    color: white;
}

.carousel-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-container h4 {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.carousel-container .high {
    color:#ba1c18;
}

.separator-carousel {
    height: 1px;
    width: 100%;
    background-color: white;
}
.item {
    text-align: left;
}

.item .desc {
    margin-left: 75px;
}

.item img {
    display: block;
    margin: auto;
    height: 200px;
}

.footer {
    background-color: #ba1c18;
    color: white;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: white;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev {
    background-image: url(../images/arrow.png)!important;
    background-repeat: no-repeat!important;
    width: 23px !important;
    height: 35px !important;
    top: 90% !important;
}

.slick-prev:before {
    content: none !important;
}

.slick-next {
    background-image: url(../images/arrow-right.png)!important;
    background-repeat: no-repeat!important;
    width: 23px !important;
    height: 35px !important;
    top: 90% !important;
}

.slick-next:before {
    content: none !important;
}

.header-title{
    margin-left: 16%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
.columna-1 label {
    color: #db2828;
}

  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#ba1c18;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#ba1c18; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  button {
    background: #ae1919;
    color: white;
    border: none;
    width: 45%;
    float: right;
    margin-right: 7rem;
    height: 40px;
  }
  
  .obligatorio {
    color: #ae1919;
    font-size: 12px;

  }
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#ba1c18; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#ba1c18; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#ba1c18; }
    to 	{ width:0; background:transparent; }
  }

  textarea {
	display: block;
	width: 73%;
	border: 0;
	padding: 10px 5px;
    background: white no-repeat;
	background-image: linear-gradient(to bottom, #ba1c18, #ba1c18), linear-gradient(to bottom, silver, silver);
	background-size: 0 2px, 100% 1px;
	background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

textarea:focus{
    /* sizes for the 2 images (focus state) */
      background-size: 100% 2px, 100% 1px;
      outline: none;
  }

.footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.separator-footer {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 60px;
}
<<<<<<< HEAD

.fifth-left {
    padding-left: 0px;
}

.fifth-left img {
    width: 100%;
}

.fifth-right-container {
    margin-top: 40%;
    border-left: 1px solid;
    padding: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
}

.fifth-right-container img {
    width: 60px;
    margin-bottom: 10px;
}

.fifth-right-text span {
    display: block;
}
=======
>>>>>>> master
