body {
    font-family: 'Poppins', sans-serif;
} 

.centered-image {
    display: block;
    margin: auto;
}

.first-section {
    background-image: url(../images/fondo1.jpg);
    height: 1330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -320px;
}

.navbar {
    margin-top: 65px;
    width: 100%;
}

.text-and-video {
    margin-top: 70px;
}

.big-text {
    width: 656px; padding-left: 15px;
    color: white;
}

.first-section h1 {
    color: #db1e22;
    font-size: 75px;
}

.first-section h2 {
    font-size: 40px;
}

.first-section h3 {
    font-size:20px;
}

.second-section {
    color: white;
}

.second-section .text-and-photo {
    margin-top: 50px
}

.second-section .solution-text {
    margin-top: 50px;
    margin-left: -25px;
}

.second-section .solution-text h4 {
    font-size: 28px;
}

.second-section .solution-text ul {
    padding-left: 20px;
}

.second-section .solution-text li {
    margin-top: 30px;
    font-size: 16px;
}

.background-second-section1 {
    background-image: url(../images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-second-section2 {
    background-image: url(../images/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-photo1 {
    background-image: url(../images/foto2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.background-photo2 {
    background-image: url(../images/foto3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


.background-third-left {
    background-color: #ba1c18;
    color: white;
}

.fourth-section {
    background-color: #292b30;
    color: white;
}

.carousel {
    background-image: url(../images/fondo2.jpg);
    color: white;
}

.item {
    border: 1px solid red;
    text-align: center;
}

.item img {
    display: block;
    margin: auto;
}

.footer {
    background-color: #ba1c18;
    color: white;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: white;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}